@keyframes flipheader {
    0% {
        content: "stay up to date";
        opacity: 0;
        top: -10px;
    }
    10% {
        opacity: 1;
        top: 0px;
    }
    25% {
        opacity: 0;
        top: 10px;
        content: "stay up to date";
    }
    30% {
        content: "find cases near you";
        opacity: 0;
        top: -10px;
    }
    40% {
        opacity: 1;
        top: 0px;
    }
    55% {
        opacity: 0;
        top: 10px;
        content: "find cases near you";
    }
    60% {
        content: "learn how others are tackling the pandemic";
        opacity: 0;
        top: -10px;
    }
    70% {
        opacity: 1;
        top: 0px;
    }
    85% {
        opacity: 0;
        top: 10px;
        content: "learn how others are tackling the pandemic";
    }
}

body {
    font-family: "Lato", sans-serif;
    background-color: #0059b8;
    color: white;
}

input {
    padding: 5px;
    font-size: 20px;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 2px solid #0f8ee0;
    transition: all 0.2s ease-in-out;
}

input:hover {
    border-bottom: 2px solid #0059b8;
}

input:focus {
    border-bottom: 2px solid #0059b8;
}

button {
    border: none;
    padding: 16px 40px;
    border-radius: 30px;
    outline: none;
    user-select: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.2s ease-out;
}

button:hover {
    background: #0f8ee0;
    color: white;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0f8ee0;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 2rem 3rem 0 rgba(58, 59, 69, .3);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.2s;
}

.sidenav a:hover {
    color: rgb(87, 87, 87);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav a {
        font-size: 18px;
    }
}

.nav-link:link {
    color: #F5F5DC;
    text-decoration: none;
    transition: all 0.2s;
    display: block;
    text-align: center;
    font-size: 19px;
    margin: auto;
    width: 33%;
    padding: 2px;
}

.nav-link:visited {
    color: rgb(173, 173, 173);
    text-decoration: none;
}

.nav-link:hover {
    color: rgb(173, 173, 173);
    text-decoration: none;
}

.nav-link:active {
    color: #F5F5DC;
    text-decoration: none;
}

.image {
    height: 60px;
    padding-bottom: 25%;
    user-select: none;
}


/*countries*/

.searchdiv {
    background: white;
    box-shadow: 0 2rem 3rem 0 rgba(58, 59, 69, .3);
    width: 80%;
    padding: 20px;
    margin: auto;
}

.flexparent {
    margin: auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

.flexparent div {
    width: 20%;
    padding: 0px 20px;
}

.flipheader::after {
    text-align: center;
    text-transform: uppercase;
    animation: flipheader 10s infinite;
    display: block;
    content: "stay up to date";
    transition: all 0.2s;
    position: relative;
    opacity: 0;
    color: black;
    text-align: center;
}

.countries {
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
}


/*country*/

.templatediv {
    background: white;
    box-shadow: 0 2rem 3rem 0 rgba(58, 59, 69, .3);
    width: 80%;
    padding: 20px;
    margin: auto;
}

.templatetitle {
    text-align: center;
    color: black;
    margin-bottom: 6px;
}

.templatediv hr {
    width: 10%;
    margin: auto;
    height: 4px;
    background-color: #0f8ee0;
    border: none;
}

.templatetable {
    margin: 8px auto;
    width: 90%;
    box-shadow: rgba(58, 59, 69, 0.15) 0px 0px 48px 0px;
    border: 1.5px solid rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
}

.templatetable:hover {
    box-shadow: rgba(58, 59, 69, 0.35) 0px 0px 70px 6px;
}

.templatetable tr {
    border-collapse: collapse;
}

.templatetable th {
    height: 40px;
    background-color: #0059b8;
    color: white;
    font-size: 20px;
    column-span: 1;
}

.templatetable tr:nth-child(odd) {
    background: #f5f9fd;
}

.templatetable tr:nth-child(even) {
    background: #ffffff;
}

.templatetable td {
    padding: 8px;
    margin: 8px 1%;
    width: 48%;
    float: left;
    display: table;
    font-weight: 550;
    color: rgba(50, 50, 50);
    font-family: 'Ubuntu', sans-serif;
}

.templatetable td:nth-child(even) {
    float: right;
    text-align: right;
}