body > .a {
	background: #aaa;
	display: flex;
	flex-wrap: wrap;
}
body > .a > .a {
	flex-grow: 1;
	width: 33%;
	height: 100px;
}
body > .a > .a:nth-child(even) {
	background: #23a;
}
body > .a > .a:nth-child(odd) {
	background: #49b;
}
