body {
  font-family: "Lato", sans-serif;
  background-color: #023e7d;
  color: white
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0f8ee0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: rgb(116, 116, 116);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#g
{
  background-color: white;
  border-radius: 10px;
  padding: 6px;

}
.loln
{
  height: 25px;
}
a.nav-link:link
{
  color: #F5F5DC;
  text-decoration: none;
}
a.nav-link:visited
{
  color: whitesmoke;
  text-decoration: none;
}
a.nav-link:hover
{
  color: white;
  text-decoration: none;
}
a.nav-link:active
{
  color: #F5F5DC;
  text-decoration: none;
}
.image
{
  height: 60px;
  padding-left: 35px;
}
