{% extends "layout.html" %}
{% block title %}
    Contact Us
{% endblock %}
<link href="style.css" rel="stylesheet">
{% block body %}
<div class="templatediv">
    <h1 class="templatetitle">{{cnt}}</h1>
    <hr />

    <table class="templatetable">
        <tr>
            <th class="A">Where to find us:</th>
            <td class="A" id="Z">Github, Discord, Gmail</td>
        </tr>
        <tr>
            <th class="A">Discord</td>
            <td class="A" id="Z">t0dd#3074</td>
            <td class="A" id="Z">randomperson#7288</td>
            <td class="A" id="Z">Carson Burke#2293</td>
        </tr>
        <tr>
            <th class="A">Github</th>
            <td class="A" id="Z">@delivey</td>
            <td class="A" id="Z">@Carson Burke</td>
            <td class="A" id="Z">@abhishekshahane</td>
        </tr>
        <tr>
            <th class="A">Email</th>
            <td class="A" id="Z">deliveydev@gmail.com</td>
            <td class="A" id="Z">nintendo.spy123@gmail.com</td>
            <td class="A" id="Z">marvinburke22@gmail.com</td>
    </table>
</div>
{% endblock %}
