{% extends "layout.html" %}
{% block title %}
    Contact Us
{% endblock %}
<link href="style.css" rel="stylesheet">
{% block body %}
    <h2><center>@abhishekshahane, @delivey and @CarsonBurke have made this website. You can find them on Discord or Github.</center></h2>
    <table id="vertical" class="center">
        <tr>
            <th>Discord</th>
            <td>randomperson#7288</td>
            <td>t0dd#3074</td>
            <td>Carson Burke#2293</td>
        </tr>
        <tr id="d">
            <th>Github</th>
            <td>@abhishekshahane</td>
            <td>@delivey</td>
            <td>@CarsonBurke</td>
        </tr>
    </table>
{% endblock %}
