{% extends "layout.html" %} {% block title %} Table For Education Status of Countries {% endblock %} {% block body %}


<div class="templatediv">
    <h1 class="templatetitle">{{cnt}}</h1>
    <hr />

    <table class="templatetable">
        <tr>
            <th>Country Info</th>
        </tr>
        <tr>
            <td>Cases in {{cnt}}:</td>
            <td>{{cases[0]}}</td>
        </tr>
        <tr>
            <td>Learning status:</td>
            <td>{{status[0]}}</td>
        </tr>
        <tr>
            <td>Education tools:</td>
            <td>(tools)</td>
        </tr>
        <tr>
            <td>Updated:</td>
            <td># seconds ago</td>
        </tr>
    </table>
</div>
{% endblock %}