{% extends "layout.html" %}

{% block title %}
    Countries
{% endblock %}

<link href="style.css" rel="stylesheet">

{% block body %}

<form action="/countries" method="POST" id="search">
    <h1><center><input name="cName" placeholder="Country Name" class="loln"></center></h1>
</form>
<center><button type="submit" form="search" value="Search" id="g">Search</button></center>

<h2><center><th>Countries</th></center></h2>
<tr>
    {% for i in results %}
    <h2><a href="/country/{{ i[0] }}" class="nav-link"><center>{{ i[0] }}</center></a></h2>
    {% endfor %}
</tr>
{% for i in countries %}
<h2><a href="/country/{{ i[0] }}" class="nav-link"><tr><center>{{ i[0] }}</tr></center></a></h2>
{% endfor %}

{% endblock %}
