{% extends "layout.html" %}


{% block title %}
Table For Education Status of Countries
{% endblock %}
<link href="style.css" rel="stylesheet">

{% block body %}
<h1><center>Table for {{cnt}}</center></h1>
<center>
  <table id="vertical"class="center">
    <tr>
      <th><center>Cases in {{cnt}}</center></th>
      <td><center>{{cases[0]}}</center></td>
    <tr>
    <tr>
      <th><center>Status in {{cnt}} (for schools)</center></th>
      <td><center>{{status[0]}}</center></td>
    </tr>

  </table>
</center>
{% endblock %}
