{% extends "layout.html" %} {% block title %} Table For Education Status of Countries {% endblock %} {% block body %}


<div class="templatediv">
    <h1 class="templatetitle">{{cnt}}</h1>
    <hr />

    <table class="templatetable">
        <tr>
            <th class="A">Country Info</th>
        </tr>
        <tr>
            <td class="A">Cases in {{cnt}}:</td>
            <td class="A">{{cases[0]}}</td>
        </tr>
        <tr>
            <td class="A">Remote Learning Status:</td>
            <td class="A">{{status[0]}}</td>
        </tr>
        <tr>
            <td class="A">Education Tools:</td>
            <td class="A">(tools)</td>
        </tr>
        <tr>
            <td class="A">Updated:</td>
            <td class="A"># seconds ago</td>
        </tr>
    </table>
</div>
{% endblock %}
