{% extends "layout.html" %} {% block title %} Countries {% endblock %}

<link href="style.css" rel="stylesheet"> {% block body %}

<div class="searchdiv">
    <div class="flexparent">
        <form action="/countries" method="POST" id="search">
            <div>
                <input name="cName" placeholder="Country Name">
            </div>
        </form>
        <div>
            <button type="submit" form="search" value="Search">Search</button>
        </div>
    </div>
    <h2 class="flipheader"></h2>
</div>

<div class="countries">

    {% for i in results %}
    <a href="/country/{{ i[0] }}" class="nav-link">
            {{ i[0] }}
        </a> {% endfor %} {% for i in countries %}
    <a href="/country/{{ i[0] }}" class="nav-link">
                {{ i[0] }}

        </a> {% endfor %}</div> {% endblock %}