{% extends "layout.html" %} {% block title %} Welcome to SchoolVid19! {% endblock %} {% block body %}


<div class="templatediv">
    <div class="center"><img src="/static/logo.png" class="center b"></div>
    <div class="imagef">
        <img src="/static/southkorea.jpg" id="side">
        <img src="/static/covid.jpg" id="sidea">
        <img src="/static/covid2.jpg" id="sidea">
        <img src="/static/covid3.jpg" id="sidea">
    </div>


    <p class="padded">
        Hello world. Welcome to SchoolVid19, where you can get new information about coronavirus cases and the state of learning in any country! Head over to
        <a href="/countries">Countries</a> where you can look through the entire catalog of countries. <br /> and if you have suggestions or requests for the site, head over to
        <a href="/contact">Contact</a> and send us an email.
    </p>
</div>
{% endblock %}
