{% extends "layout.html" %}
{% block title %}
    Polls
{% endblock %}
<link href="style.css" rel="stylesheet">
{% block body %}
<!Making a div for the first part of the form>
<div id="formparta">
    <div class="box">
        <input type="text" placeholder="Country name" id="text">
        <input type="submit" placeholder="Submit Country" id="submit" onclick="b()">
    </div>
    <div id="result">
    </div>
</div>
<!Making another div for the second part of the form>
<div id="formpartb">
    <label for="rating">How are you liking/hating online school?</label>
      <select name="rating" id="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
</div>
<!Div for button>
<div class="buttonclass">
    <!Submit the poll when this button is clicked>
    <button id="button" onclick="a()">Submit poll!</button>
    <script>
    //JS for when user clicks on the submit country button
        let country = document.querySelector('#text').value;
        function b(){
            alert("Response recorded!");
        }
    //Some more JS for when the user clicks on the submit button
        function a()
        {
            alert("Your response has been submitted!");
        }
    </script>
</div>
{% endblock %}

