{% extends "layout.html" %} {% block title %} Polls {% endblock %} {% block body %}

<div class="templatediv">
    <form action="">

        <div class="center">
            <select class="templateselect">
            <option class="" disabled="true" selected="selected">Where do you live?</option>
            <option value="{{ country }}">{{ Country }}</option>
            </select>

            <select class="templateselect">
                <option class="" disabled="true" selected="selected">What educational tools are you using?</option>
                <option value="teams">Microsoft Teams</option>
                <option value="google">Google Classrooms</option>
                <option value="3">We don't learn</option>
                <option value="4">My Parents</option>
                <option value="5">I live in US :P (no schooling)</option>
                </select>
        </div>
        <div class="center">
            <select class="templateselect">
    <option disabled="true" selected="selected">Rate your countries schooling</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
        </select>

            <button>Submit poll!</button>
        </div>
    </form>
</div>
{% endblock %}